// General
$base-blue: rgb(65, 113, 215);
$base-white: rgb(255, 255, 255);

// Forms
$login-input-background: rgb(51, 89, 169);
$login-input-color: $base-white;

$login-submit-background: $base-white;
$login-submit-color: $base-blue;
