@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

body {
    &.login {
        background-color: $base-white;
    }
}

#login-container {
    @include container(90%);
    margin: 0 auto;

    @include breakpoint(420px, 4) {
        @include container(400px);
    }
}

.logo-container {
    margin: 30px 0 15px;
    width: span(100%);

    @include breakpoint(420px, 4) {
        margin: 50px 0 35px;
    }

    .logo {
        display: block;
        margin: 0 auto;
        width: 100px;
        height: 135px;
        background-image: url('/static/img/logo.png');

        @include hidpi(1.5) {
            background-image: url('/static/img/logo@2x.png');
            background-size: 100% 100%;
        }
    }
}

#login {
    width: span(12);
}

.unauthenticated-footer-links {
    margin-top: 20px;
    @include span(12);
    font-size: 0.875em;

    a {
        color: $login-link-color;
        text-decoration: none;

        &:hover, &:active {
            color: $login-link-active-color;
        }
    }

    .unauthenticated-footer-links-left {
        @include span(4);
    }

    .unauthenticated-footer-links-right {
        @include span(8);
        text-align: right;
    }
}

.error-container.show {
    background-color: $error-background;
    padding: 2px 15px;
    margin-bottom: 15px;

    p {
        color: $error-color;
    }
}





