@import "susy";
@import "breakpoint";
@import "normalize";
@import "bourbon/bourbon";
@import "colors";
@import "grid";
@import "forms";
@import "login";
@import "register";
@import "contacts";
@import "activity";
@import "channels";
@import "core";


body {
    background-color: $base-white;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}

body.main {
    background-color: $base-background-color;
}

h3 {
    font-size: 1em;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

a {
    border: none;
    text-decoration: none;
    font-weight: bold;
    color: $base-blue;
}



