
/*
  Defaults
*/

* {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
}

/*
  Basic elements
*/

header {
  margin-top: 10px;
}


footer {
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding-top: 20px;
}


body {
}


h1 {
  font-size: 130%;
  font-style: italic;
}


h2 {
  font-size: 120%;
  font-style: italic;
}


h3 {
  font-size: 110%;
  font-style: italic;
}


/*
  Classes
*/

.aside {
  background-color: rgba(0,0,0,.9);
}

.aside p {
  color: #fff;
}

.main {
  background-color: rgba(0,0,0,.1);
}

#error {
  padding: 10;
  background-color: #ff0000 ;
  display: none;
}

#error.show {
  display: block;
}

#error p {
  color: #fff;
}
