doctype html
html(lang=en)

  head
    title Mist
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="utf-8")
    link(rel='stylesheet', href='static/css/normalize.css')
    link(rel='stylesheet', href='static/css/skeleton.css')
    link(rel='stylesheet', href='static/css/mist.css')

  body

    script(type='text/javascript', src='static/js/riot.min.js')
    script(src='/socket.io/socket.io.js')
    script(type='text/javascript', src='static/js/mist.js')

    script(type='text/javascript', src='static/js/login.js')
    <!-- mount the tag -->
    script(type='text/javascript').
      riot.mount('login')
