doctype html
html(lang=en)

  head
    title Mist
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="utf-8")
    link(rel='stylesheet', href='static/css/normalize.css')
    link(rel='stylesheet', href='static/css/skeleton.css')
    link(rel='stylesheet', href='static/css/mist.css')

  body
    div.container

      header
        block header

      section
        block body_main

      footer
        block footer

    script(type="text/javascript", src="static/js/riot.min.js")
